--langdef=bib
--langmap=bib:.bib
--regex-bib=/^[ \t]*@article\{([^,]*)/\1/a,article/i
--regex-bib=/^[ \t]*@book\{([^,]*)/\1/b,book/i
--regex-bib=/^[ \t]*@booklet\{([^,]*)/\1/L,booklet/i
--regex-bib=/^[ \t]*@conference\{([^,]*)/\1/c,conference/i
--regex-bib=/^[ \t]*@inbook\{([^,]*)/\1/B,inbook/i
--regex-bib=/^[ \t]*@incollection\{([^,]*)/\1/C,incollection/i
--regex-bib=/^[ \t]*@inproceedings\{([^,]*)/\1/P,inproceedings/i
--regex-bib=/^[ \t]*@manual\{([^,]*)/\1/m,manual/i
--regex-bib=/^[ \t]*@mastersthesis\{([^,]*)/\1/T,mastersthesis/i
--regex-bib=/^[ \t]*@misc\{([^,]*)/\1/M,misc/i
--regex-bib=/^[ \t]*@phdthesis\{([^,]*)/\1/t,phdthesis/i
--regex-bib=/^[ \t]*@proceedings\{([^,]*)/\1/p,proceedings/i
--regex-bib=/^[ \t]*@techreport\{([^,]*)/\1/r,techreport/i
--regex-bib=/^[ \t]*@unpublished\{([^,]*)/\1/u,unpublished/i
