--langdef=latex
--langmap=latex:.tex
--regex-latex=/^[[:space:]]\\tableofcontents/TABLE OF CONTENTS/s,toc/
--regex-latex=/^[[:space:]]\\frontmatter/FRONTMATTER/s,frontmatter/
--regex-latex=/^[[:space:]]\\mainmatter/MAINMATTER/s,mainmatter/
--regex-latex=/^[[:space:]]\\backmatter/BACKMATTER/s,backmatter/
--regex-latex=/^[[:space:]]\\bibliography\{/BIBLIOGRAPHY/s,bibliography/
--regex-latex=/^[[:space:]]\\part[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/PART \2/s,part/
--regex-latex=/^[[:space:]]\\part[[:space:]]*\*[[:space:]]*\{([^}]+)\}/PART \1/s,part/
--regex-latex=/^[[:space:]]*\\chapter[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/-- \2 --/s,chapter/
--regex-latex=/^[[:space:]]*\\chapter[[:space:]]*\*[[:space:]]*\{([^}]+)\}/-- \1 --/s,chapter/
--regex-latex=/^[[:space:]]*\\section[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/├─ \2/s,section/
--regex-latex=/^[[:space:]]*\\section[[:space:]]*\*[[:space:]]*\{([^}]+)\}/├─ \1/s,section/
--regex-latex=/^[[:space:]]*\\subsection[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/│  ├─ \2/s,subsection/
--regex-latex=/^[[:space:]]*\\subsection[[:space:]]*\*[[:space:]]*\{([^}]+)\}/│  ├─ \1/s,subsection/
--regex-latex=/^[[:space:]]*\\subsubsection[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/│  │  ├─ \2/s,subsubsection/
--regex-latex=/^[[:space:]]*\\subsubsection[[:space:]]*\*[[:space:]]*\{([^}]+)\}/│  │  ├─\1/s,subsubsection/
--regex-latex=/^[[:space:]]*\\includegraphics[[:space:]]*(\[[^]]*\])?[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/\3/g,graphic+listing/
--regex-latex=/^[[:space:]]*\\lstinputlisting[[:space:]]*(\[[^]]*\])?[[:space:]]*(\[[^]]*\])?[[:space:]]*\{([^}]+)\}/\3/g,graphic+listing/
--regex-latex=/\\label[[:space:]]*\{([^}]+)\}/\1/l,label/
--regex-latex=/\\ref[[:space:]]*\{([^}]+)\}/\1/r,ref/
--regex-latex=/\\pageref[[:space:]]*\{([^}]+)\}/\1/p,pageref/
